<div class="table-responsive">
	<table id="userList"
		class="table table-bordered table-hover table-striped">
			<thead class="thead-light">
				<tr>
											<th scope="col">#</th>
											<th scope="col">Nombres</th>
											<th scope="col">Apellidos</th>
											<th scope="col">Identificación</th>
											<th scope="col">Limite de horas</th>
											<th scope="col">Télefono</th>
											<th scope="col">Estado</th>
											<th scope="col">Ciudad</th>
											<th scope="col">Correo</th>
											<th scope="col">Acciones</th>
											<th></th>
			</tr>
			</thead>
			<tbody>
										<tr th:each="docente : ${docentes}">
											<td th:number="${docente.id}"/>
											<td th:text="${docente.nombre}"/>
											<td th:text="${docente.apellido}"/>
											<td th:text="${docente.identificacion}"/>
											<td th:text="${docente.limitHoras}"/>
											<td th:text="${docente.telefono}"/>
											<td th:text="${docente.estado}"/>
											<td th:text="${docente.ciudad}"/>
											<td th:text="${docente.correo}"/>									
											<td><a th:href="@{/editar/{id}(id=${docente.id})}"><i class="fas fa-edit"></i></a> | <a
												th:href="@{/borrar/{id}(id=${docente.id})}"><i class="fas fa-user-times" ></i></a></td>
										</tr>
									
			</tbody>
	</table>
</div>
