<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="table-responsive">
	<table id="asignaturaList"
		class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Codigo</th>
				<th scope="col">Nombre</th>
				<th scope="col">Nivel</th>
				<th scope="col">Tipo de asignatura</th>
				<th scope="col">Unidades</th>
				<th scope="col">¿Activa?</th>
				<th scope="col">Opcion de grado</th>
				<th scope="col">Tipo de actividad</th>
				<th scope="col">Acciones</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="asignatura: ${asignaturaList}">
				<td th:text="${asignatura.id}"/>
				<td th:text="${asignatura.codigo}"/>
				<td th:text="${asignatura.nombre}"/>
				<td th:text="${asignatura.nivel}"/>
				<td th:text="${asignatura.tipoAsign}"/>
				<td th:text="${asignatura.unidades}"/>
				<td th:text="${asignatura.activa}"/>
				<td th:text="${asignatura.opcionGrado}"/>
				<td th:text="${asignatura.tipoAct}"/>

				<td><a href="#" th:href="@{'/editAsignatura/'+ ${asignatura.id}}"><i class="fas fa-edit"></i></a>
				 | <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${asignatura.id} +'\');'"><i class="fas fa-user-times"></i></a>
				 </td>
			</tr>
		</tbody>
	</table>
	<div class="alert alert-danger text-center" th:if="${listErrorMessage}" th:text="${listErrorMessage}">Error MEssage</div>
</div>
 
<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#asignaturaIdHiddenInput").val(id);
}
function deleteAsignatura(){
	var id = $("#asignaturaIdHiddenInput").val();
    window.location = "deleteAsignatura/"+id;
}
</script>
</html>